@inject NavigationManager navManager


    <form class="input-group" @onsubmit=SearchClick >
        <input @bind="SearchString" type="search" class="form-control" placeholder="Wyszukaj..." aria-label="Wpisz tekst, aby wyszukać" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" @onclick=SearchClick>
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
            </button>
            <button class="btn btn-outline-secondary" type="button" @onclick=ClearClick>
                <span class="oi oi-x" aria-hidden="true"></span>
            </button>
        </div>
    </form>

@code 
{

    [Parameter]
    public string? SearchString { get; set; }

 
    public void SearchClick()
    {
        navManager.NavigateTo(navManager.GetUriWithQueryParameter("search", SearchString)) ;
    }

    public void ClearClick()
    {
        SearchString = "";
        navManager.NavigateTo(navManager.GetUriWithQueryParameter("search", (string)null));
    }
}